# PARNEET KAUR

# DATA SCIENCE & ML INTERN AT THE SPARKS FOUNDATION

# Sep 2020  Task-2

# TO EXPLORE BUSINESS ANALYTICS

In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [17]:
df = pd.read_csv("Superstoredata.csv")

In [18]:
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [19]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [31]:
df_1 = df[['State', 'Category','Sales', 'Profit']]
df_1

           State         Category     Sales    Profit
0       Kentucky        Furniture  261.9600   41.9136
1       Kentucky        Furniture  731.9400  219.5820
2     California  Office Supplies   14.6200    6.8714
3        Florida        Furniture  957.5775 -383.0310
4        Florida  Office Supplies   22.3680    2.5164
...          ...              ...       ...       ...
9989     Florida        Furniture   25.2480    4.1028
9990  California        Furniture   91.9600   15.6332
9991  California       Technology  258.5760   19.3932
9992  California  Office Supplies   29.6000   13.3200
9993  California  Office Supplies  243.1600   72.9480

[9994 rows x 4 columns]

In [39]:
df_grp = df_1.groupby(['Category', 'Profit'], as_index=False).mean()
df_grp
df_grp.head()

    Category     Profit     Sales
0  Furniture -1862.3124  4297.644
1  Furniture -1665.0522  3083.430
2  Furniture -1002.7836  2314.116
3  Furniture  -968.8833  1875.258
4  Furniture  -814.4832  1272.630

Now, I'll do some visualization to take a great insight of my dataset.

So, here i have taken sales and profit along with the respective items. So, we can clearly see that Technology results in more sales and consecutively in more profit;then comes the office supplies and furniture respectively.

In [42]:
%%HTML
<div class='tableauPlaceholder' id='viz1599905812322' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis1&#47;Densitysalesvsprofit&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GRIPtaskExploratryAnalysis1&#47;Densitysalesvsprofit' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis1&#47;Densitysalesvsprofit&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1599905812322');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

Now, i have taken profit and sales into consideration category wise.
From here, i get that as and when the sales is high it leads to high profit.

In [41]:
%%HTML
<div class='tableauPlaceholder' id='viz1599905641721' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis2&#47;ProfitvsSales&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GRIPtaskExploratryAnalysis2&#47;ProfitvsSales' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis2&#47;ProfitvsSales&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1599905641721');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

So, now we have the sub-categories which incurred losses.

In [43]:
%%HTML
<div class='tableauPlaceholder' id='viz1599905899171' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis3&#47;loss&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GRIPtaskExploratryAnalysis3&#47;loss' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis3&#47;loss&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1599905899171');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [40]:
%%HTML
<div class='tableauPlaceholder' id='viz1599905340559' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis&#47;MAP&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GRIPtaskExploratryAnalysis&#47;MAP' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis&#47;MAP&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1599905340559');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

Clearly, from the map we can see the three cities from where we are getting much profit. So, if we focus on these cities more we can earn good profits.

In [45]:
%%HTML
<div class='tableauPlaceholder' id='viz1599907973904' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis4&#47;Sheet5&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GRIPtaskExploratryAnalysis4&#47;Sheet5' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GR&#47;GRIPtaskExploratryAnalysis4&#47;Sheet5&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1599907973904');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

# RESULTS:

FURNITURE-
1. Tables have great sales but still no good profit.

2. We are giving more discounts in Bookcases and furnishings that are leading to good sales and hence good profit.

3. Our chairs with minimal discount are giving good sales & profits.

OFFICE SUPPLIES-
1. More discount in appliances and Binders leading to great sales and hence good profits.

TECHNOLOGY-

1.Machines are being sold at great discounts but still we are incurring less profits.

2.Copies, Phones and accessories with minimal discount are leading to great profits.

# SUGGESSTIONS

1. We need to look at our Tables quality wise and increase its price.

2. We need to provide less discount in Machines.

# THANKYOU!